
.video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    padding-bottom: 40%; /* อัตราส่วน 16:9 */
    
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    border: 0px solid #000000; /* เพิ่มขอบขนาด 10px สีขาว */
    box-sizing: border-box; /* ให้ขอบเข้าไปในพื้นที่ของวิดีโอ */
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.13); /* เรืองแสงขอบสีขาว */
  }
  
  .video-container.zoomed {
    position: relative;
    perspective: 1000px;
  }
  
  #shine-overlay {
    position: absolute;
    top: 50%; /* ปรับตำแหน่งตามต้องการ */
    left:50%; /* ปรับตำแหน่งตามต้องการ */
    width: 70%; /* ปรับขนาดตามต้องการ */
    height: 70%; /* ปรับขนาดตามต้องการ */
    border-radius:40%;
    background-color: #000000(255, 255, 255, 0.178),#ffffff ;
    background: radial-gradient(ellipse at 50% 50%, rgba(255, 255, 255, 0.404) 0%, rgba(199, 203, 255, 0.048) 50%, rgba(255, 255, 255, 0) 70%, rgba(0, 255, 0, 0) 100%);
    transform: translateZ(20px);
    overflow: hidden;
    pointer-events: none;
    z-index: 5;
    
   
  }
  
  .video-container.zoomed:hover #shine-overlay {
    opacity: 1;
  }
  #shine-overlay.active {
    opacity: 1;
    transition: opacity 0.8s ease;
  }
  


  
  #container {
    position: relative;
    overflow: hidden;
    
  }
  
  #fixedSVG {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  
  
  
  
  
  
  
  
  
  